
<input type="file"
       ngFileSelect
       [options]="options"
       (onUpload)="handleUpload($event)"
       (beforeUpload)="beforeUpload($event)">
<br /><br />
       

<div>
Response: {{ uploadFile | json }}
</div>



<table>
	<tr *ngFor="let row of positions; let ri = index">
    <td *ngFor="let piece of row; let ci = index" class="{{piece}}" [ngClass]="{'highlight': getHighlight(ri,ci)}">
      
    </td>
	</tr>
</table>

<button (click)="loadPieces('qRRqRqee/eeReReeR/qRRReqee/eeqeRqqq/eeeqeeee/eqqqReRe/eeeqeeee/RqReRqRe')">load posittions</button>
<button (click)="setHighlight(1,3)">highlight</button>

