.highlight { 
   -webkit-box-shadow: inset 0px 0px 0px 5px #fced6a;
    -moz-box-shadow: inset 0px 0px 0px 5px #fced6a;
    box-shadow: inset 0px 0px 0px 5px #fced6a;
}
.rb-main-button-area { width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.rb-main-button-area button {
    width: 100%;
    margin-top: 5px; 
}
.board-summary{ 
    color: #666;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 9pt;
    }

table {
	border-collapse: collapse;
	background: gray;
    border: solid 1px #444;
    margin: auto;
}
td {
    width: 50px; height: 50px;
     font-size: 17pt;
      align-content: center;  
      text-align: center;  
}
.container {width: 100%; margin:0;}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
	background: white;
}
.p::after {
    content: "\2659"; 
}
.k::after{
    content: "\2654";
}
.q::after {
    content: "\2655";
}
.r::after {
    content: "\2656";
}
.b::after {
    content: "\2657";
}
.n::after {
    content: "\2658";
}

.P::after {
    content: "\265F"; 
}
.K::after{
    content: "\265A";
}
.Q::after {
    content: "\265B";
}
.R::after {
    content: "\265C";
}
.B::after {
    content: "\265D";
}
.N::after {
    content: "\265E";
}