div.chess-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 350px;
  height: 350px;
}
div > div {
  width: 50px;
  height: 50px;
  background-color:gray; 
  font-size: 17pt;
  display: flex;
  justify-content: center;
}
div:nth-child(even){
  background-color:white;
}
 div.p::after {
    content: "\2659"; 
    margin: auto;
}
 div.P::after {
    content: "\265F"; 
    margin: auto;
}
.file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
