

<div class="rb-main-button-area">
  <span class="board-summary">
    {{boardSummary}}
  </span>
</div>
<table>
	<tr *ngFor="let row of positions; let ri = index">
    <td *ngFor="let piece of row; let ci = index" class="{{piece.code}}" [ngClass]="{'highlight': piece.highlighted}">
    </td>
	</tr>
</table>
<div class="rb-main-button-area">

  <button class="btn btn-info" (click)="loadBoard()">load main board</button>
  <button class="btn btn-info" (click)="loadNext()">load board {{currentIndex}}</button>
  <button class="btn btn-info" (click)="moveTest()">Move</button>
</div>
